@charset "utf-8";
/* CSS Document */
* {
    box-sizing: border-box;
    font-family: arial, 'Hiragino Sans GB', 'Microsoft Yahei', Tahoma, Helvetica, STHeiti;
}

@media (min-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        letter-spacing: -0.5px;
        min-width: 1330px;
        position: relative;
        overflow: auto !important;
        font-size: 14px;
        color: #333;
    }

    a {
        color: #49b6ff;
    }

    a, a:link, a:visited, a:active {
        text-decoration: none;
    }

    a:hover, a:focus {
        color: rgba(255, 174, 0, 1);
    }

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    h2, h3, h3, h4 {
        margin: 0;
    }

    .rowbox:before {
        display: table;
        content: " ";
    }

    .rowbox:after {
        clear: both;
        display: table;
        content: " ";
    }

    .rowbox {
        margin-left: 0;
        margin-right: 0;
    }

    .bg {
        background: #1b1d21;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .main {
    }

    .header {
        margin: 0px 0px;
        height: 75px;
        z-index: 1000;
        background: #2f9fff;
        border-bottom: 1px solid #2f9fff;
        box-shadow: 10px 10px 85px rgba(0, 0, 0, 0.2);
        position: fixed;
        display: flex;
        width: 100%;
        top: 0px;
    }

    .header .logo {
        float: left;
        padding-left: 5px;
        margin-top: 10px;
    }

    .header .logo img.logoimg {
        width: 50px;
        height: 50px;
        margin-right: 10px;
        float: left;
    }

    .header .logo .logotext {
        float: left;
        color: #fff;
        margin-top: 5px;
    }

    .header h2 {
        font-size: 21px;
        font-weight: bold;
    }

    .header h4 {
        font-size: 14px;
        font-weight: bold;
    }

    .header .school {
        float: right;
        margin-top: 15px;
    }

    .header .school .schoolname {
        text-align: right;
        color: #fff;
        font-weight: bold;
        font-size: 21px;
    }

    .header .school .btncont {
        text-align: right;
        padding-top: 5px;
    }

    .header .school .btncont a {
        font-size: 14px;
        margin-left: 10px;
        color: #fff;
    }

    .content {
        position: fixed;
        width: 100%;
        bottom: 30px;
        top: 75px;
        overflow-y: auto;
        background: white;
        margin: 0px;
    }

    .content .rowbox .cbox .title {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        border-bottom: 1px solid #2f9fff;
        margin-bottom: 10px;
    }

    .content .rowbox .cbox .title i {
        margin-right: 10px;
        color: #2f9fff;
    }

    .content .rowbox .cbox .cont .cont-in-left {
        float: left;
        width: 60%;
    }

    .content .rowbox .cbox .cont .cont-in-left > div {
        width: 100%;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .content .rowbox .cbox {
        float: left;
        width: 50%;
        box-sizing: border-box;
        padding: 10px 20px 10px 20px;
    }

    .content .rowbox .cbox .cont .cont-in-left > div > label {
        width: 25%;
        vertical-align: middle;
        display: inline-block;
    }

    .content .rowbox .cbox .cont .cont-in-left > div > input {
        width: 70%;
        vertical-align: middle;
        display: inline-block;
        height: 30px;
        border: 1px solid #CCC;
        border-radius: 5px;
        background: #f3f3f3;
        padding: 0 0 0 5px;
    }

    .content .rowbox .cbox .cont .cont-in-left > div > select {
        width: 70%;
        vertical-align: middle;
        display: inline-block;
        height: 30px;
        border: 1px solid #CCC;
        border-radius: 5px;
        background: #f3f3f3;
    }

    .content .rowbox .cbox .cont div > textarea {
        width: 70%;
        resize: none;
        vertical-align: top;
        display: inline-block;
        height: 86px;
        border: 1px solid #CCC;
        border-radius: 5px;
        background: #f3f3f3;
    }

    .content .rowbox .cbox .cont .cont-in-right {
        float: left;
        width: 40%;
        margin-left: 0%;
        text-align: center;
        box-sizing: border-box;
        padding: 0 20px;
    }

    .content .rowbox .cbox .cont .cont-in-right .inpic { /*background:url(../images/tx.png) no-repeat center center;*/
        background: #fff;
        border: 1px solid #09F;
        height: 280px;
        width: 100%;
        display: inline-block;
        background-size: cover;
        display: flex;
        align-items: center;
        overflow: hidden;
        border-radius: 5px;
        box-shadow: 10px 10px 85px rgba(0, 0, 0, 0.2);
    }

    .content .rowbox .cbox .cont .cont-in-right .inpic img {
        width: 100%;
        height: 100%;
    }

    .content .rowbox .lfbox {
        padding: 10px 20px 20px 20px;
        float: left;
        width: 100%;
    }

    .content .rowbox .lfbox .title {
        height: 40px;
        line-height: 40px;
        font-size: 20px;
        border-bottom: 1px solid #2f9fff;
        margin-bottom: 10px;
    }

    .content .rowbox .lfbox .title i {
        margin-right: 10px;
        color: #2f9fff;
    }

    .content .rowbox .lfbox .cont .tabler {
        float: left;
        width: 100%;
    }

    .content .rowbox .lfbox .cont .tabler table {
        border: 0px solid #2f9fff;
        background: #2f9fff;
        border-collapse: separate;
    }

    .content .rowbox .lfbox .cont .tabler table tr td {
        background: #fff;
        line-height: 30px;
    }

    .content .rowbox .lfbox .cont .tabler table .th td {
        width: 100px;
        text-align: center;
        font-size: 16px;
        color: #fff;
        background: #2f9fff;
    }

    .content .rowbox .lfbox .cont .picer {
        float: left;
        width: 40%;
    }

    .content .rowbox .lfbox .cont .picer div.p1 {
        width: 58%;
        height: 200px;
        background: #eee;
        float: left;
        margin-left: 1%;
        text-align: center;
    }

    .content .rowbox .lfbox .cont .picer div.p1 img {
        height: 200px;
    }

    .content .rowbox .lfbox .cont .picer div.p2 {
        width: 39%;
        height: 200px;
        background: #eee;
        float: left;
        margin-left: 1%;
        text-align: center;
    }

    .content .rowbox .lfbox .cont .picer div.p2 img {
        width: 200px;
        height: 200px;
    }

    .footer {
        background: #e8e8e8;
        height: 30px;
        line-height: 30px;
        padding: 0 15px;
        color: #666;
        font-size: 14px;
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footer div span {
        margin-right: 15px;
    }

    .recordTable {
        text-align: center;
    }

    .recordTable tr:nth-child(2n+1) {
        background-color: #f2f2f2;
    }
}